bt_soc_empty_3.slps
.project
.cproject
image/readme_img0.png
image/readme_img1.png
image/readme_img2.png
image/readme_img3.png
image/readme_img4.png
.settings/com.silabs.ss.framework.ide.project.sls.core.prefs
.pdm/uc.module.setup.apack_btConfig.com.silabs.ss.framework.project.toolchain.core.default#com.silabs.ss.tool.ide.arm.toolchain.gnu.cdt.10.3.1.20210824.gcc.slsproj
.pdm/uc.module.setup.CommonProjectPostBuild.com.silabs.ss.framework.project.toolchain.core.default#com.silabs.ss.tool.ide.arm.toolchain.gnu.cdt.10.3.1.20210824.gcc.slsproj
.pdm/uc.module.setup.componentSetup.com.silabs.ss.framework.project.toolchain.core.default#com.silabs.ss.tool.ide.arm.toolchain.gnu.cdt.10.3.1.20210824.gcc.slsproj
.pdm/uc.module.setup.defaultSettings.com.silabs.ss.framework.project.toolchain.core.default#com.silabs.ss.tool.ide.arm.toolchain.gnu.cdt.10.3.1.20210824.gcc.slsproj
.pdm/uc.module.setup.ProjectPostBuild.com.silabs.ss.framework.project.toolchain.core.default#com.silabs.ss.tool.ide.arm.toolchain.gnu.cdt.10.3.1.20210824.gcc.slsproj
.pdm/uc.module.setup.ucConfig.com.silabs.ss.framework.project.toolchain.core.default#com.silabs.ss.tool.ide.arm.toolchain.gnu.cdt.10.3.1.20210824.gcc.slsproj
.pdm/uc.module.setup.ucProject.com.silabs.ss.framework.project.toolchain.core.default#com.silabs.ss.tool.ide.arm.toolchain.gnu.cdt.10.3.1.20210824.gcc.slsproj
.pdm/uc.module.setup.ucTemplate.com.silabs.ss.framework.project.toolchain.core.default#com.silabs.ss.tool.ide.arm.toolchain.gnu.cdt.10.3.1.20210824.gcc.slsproj
.projectlinkstore
.uceditor/.bt_soc_empty_3.board_control.cedit
